{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row sign-out-row">
    <div class="col-5 sign-out-col-1">
      <h1 class="align-center pt-5 text-center">{% trans "Sign Out" %}</h1>
      <br>
      <p class="align-center p-0 text-center">{% trans 'Are you sure you want to sign out?' %}</p>
      <br>
      <form class="align-center p-0 text-center" method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-signup right my-buttons" type="submit">{% trans 'Sign Out' %}</button>
      </form>
    </div>
    <div class="col-5 p-0 sign-out-col-2" style="background-image:url(/static/images/logout-image.jpg)" alt="A rider riding the trails">
    </div>
  </div>
</div>



{% endblock %}
