/* Global Styles */
body {
    font-family: 'Reem Kufi Fun', sans-serif;
    background-color:aliceblue;
}

a {
    text-decoration: none;
}

.navbar {
    padding: 0px;
}

/* Index.html specific styles */

/* Carousel styling */
.carousel-item {
    height: 32rem;
    background-color: #777;
    color: white;
    position: relative;
}

.caro-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

