{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="col-1"></div>
        <div class="container">    
            <div class="col">
                <div class="row">
                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                    <img
                        src="https://res.cloudinary.com/djsvtlliv/image/upload/v1663706243/static/images/gall-hor-1.d5647787bdf5.jpg"
                        class="w-100 shadow-1-strong rounded mb-4"
                        alt="Kicking up dirst on a berm"
                    />
                
                    <img
                        src="https://res.cloudinary.com/djsvtlliv/image/upload/v1663706242/static/images/gall-vert-1.25307aebfdce.jpg"
                        class="w-100 shadow-1-strong rounded mb-4"
                        alt="XC rider heading into a corner"
                    />
                    </div>
                
                    <div class="col-lg-4 mb-4 mb-lg-0">
                    <img
                        src="https://res.cloudinary.com/djsvtlliv/image/upload/v1663706229/static/images/gall-vert-2.912bcd155947.jpg"
                        class="w-100 shadow-1-strong rounded mb-4"
                        alt="Big air on Nicos Revenge"
                    />
                
                    <img
                        src="https://res.cloudinary.com/djsvtlliv/image/upload/v1663706237/static/images/gall-hor-2.d1602137d397.jpg"
                        class="w-100 shadow-1-strong rounded mb-4"
                        alt="Summer riding back to the cafe"
                    />
                    </div>
                
                    <div class="col-lg-4 mb-4 mb-lg-0">
                    <img
                        src="https://res.cloudinary.com/djsvtlliv/image/upload/v1663706234/static/images/gall-hor-3.41e7894d1c6c.jpg"
                        class="w-100 shadow-1-strong rounded mb-4"
                        alt="Nailing a drop on Broken Hammer"
                    />
                
                    <img
                        src="https://res.cloudinary.com/djsvtlliv/image/upload/v1663706245/static/images/gall-vert-3.17a9996b5d57.jpg"
                        class="w-100 shadow-1-strong rounded mb-4"
                        alt="Coming into land after some big air"
                    />
                    </div>
                </div>
            </div> 
        </div>
    <div class="col-1"></div>
</div>
{% endblock %}