{% extends "base.html" %}


{% block content %}

<!-- Carousel section -->

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">    
        <div class="carousel-item active">
            <div class="caro-container">
                <h1>Example Headline</h1>
                <p>This is just to identify slide 1</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="caro-container">
                <h1>Example Headline</h1>
                <p>This is just to identify slide 2</p>

            </div>
        </div>
    </div>
    <a href="#myCarousel" class="carousel-control-prev" role="button" data-bs-slide="prev"><span class="sr-only">Previous</span><span class="carousel-control-prev-icon" hidden="true"></span></a>
    <a href="#myCarousel" class="carousel-control-next" role="button" data-bs-slide="next"><span class="sr-only">Next</span><span class="carousel-control-next-icon" hidden="true"></span></a>
</div>
{% endblock %}