{% extends "base.html" %}
<script src="https://kit.fontawesome.com/606c2cbf20.js" crossorigin="anonymous"></script>


{% block content %}

<!-- Carousel section -->

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="myCarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="myCarousel" data-bs-slide-to="1"></li>
        <li data-bs-target="myCarousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-image:url(https://res.cloudinary.com/djsvtlliv/image/upload/v1663706247/static/images/trails-slide.275a3ee0120a.jpg)" alt="A rider riding the trails">
            <div class="container carousel-container">
                <div class="overlay-image"></div>
                <div class="carousel-body position-absolute top-50 start-50 translate-middle">
                    <a href="{% url 'PostList' %}" class="btn btn-lg btn-dark"><h1>View The Trails</h1></a>
                </div>
            </div>
        </div>
        <div class="carousel-item" style="background-image:url(https://res.cloudinary.com/djsvtlliv/image/upload/v1663706240/static/images/cafe-slide.c6bafb0a7a0f.jpg)" alt="Coffee and cake on a table">
            <div class="container carousel-container">
                <div class="overlay-image"></div>
                <div class="carousel-body position-absolute top-50 start-50 translate-middle">
                    <a href="{% url 'open_cafe_page' %}" class="btn btn-lg btn-dark"><h1>View The Cafe</h1></a>
                </div>
            </div>
        </div>
        <div class="carousel-item" style="background-image:url(https://res.cloudinary.com/djsvtlliv/image/upload/v1663706238/static/images/what-you-need-slide.2060c2adec3b.jpg)" alt="A rider riding through the forest">
            <div class="container carousel-container">
                <div class="overlay-image"></div>
                <div class="carousel-body position-absolute top-50 start-50 translate-middle">
                    <a href="{% url 'open_gallery_page' %}" class="btn btn-lg btn-dark"><h1>Photo Gallery</h1></a>
                </div>
            </div>
        </div>
    </div>
    <a href="#myCarousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
        <span class="sr-only">Previous</span>
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a href="#myCarousel" class="carousel-control-next" role="button" data-bs-slide="next">
        <span class="sr-only">Next</span>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>

<br>
<!-- About Section -->
<div class="container">
    <div class="row about-row">
        <div class="col-sm-8 pt-5">
            <h1>About Black Mountain MTB</h1>
            <p>Here at Black Mountain MTB we have trail to suit all MTB skill levels. From our 
                simply awesome Iron Hammer blue trail, to our rock-slab filled Nicos Revenge, we have it all.
            </p>
            <p>
                <a style="text-decoration: none;" href="{% url 'PostList' %}"><span>CLICK HERE TO SEE ALL THE TRAILS</span></a>
            </p>
            <br>
            <br>
            <h3>Be part of our communitee</h3>
            <p>We are always building new trails and welcome any feedback you may have for our new,
                and current, trails. Thats why you can comment on any of the trail pages. 
            </p>
            <p>    
                Simply <a style="text-decoration: none;" href="{% url 'account_signup' %}"><span>SIGN UP</span></a> for an account to enable the ability to comment.
            </p>
            <br>
            <p>
                Or <a style="text-decoration: none;" href="{% url 'account_login' %}"><span>LOGIN</span></a> here!
            </p>
            <br>
            <h3>On site facilities</h3>            
            <p>Oh, and did we mention we have cake. Check out the <a href="{% url 'open_cafe_page' %}"><span>Cafe</span></a> page 
                for more information on our latest coffees and sweet treats. 
            </p>
            <p>
                Should you need anything new for your bike we also have our on site shop and a team of mechanics available to help when 
                your bike needs some tlc. 
            </p>
            <p>
                We also have on site toilets and changing facilities.
            </p>
        </div>
        <div class="col-sm-4 small-hero-wrapper">
                <img class="small-hero-image" src="https://res.cloudinary.com/djsvtlliv/image/upload/v1663706232/static/images/index-small-hero.c613adca3bb5.jpg" alt="A rider riding through the trees">
        </div>
    </div>    
</div>
{% endblock content %}