{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Post Comment Section -->

<!-- Article Header Section -->
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.author }} | {{ post.published_on }}</p>
            </div>
        </div>
        <div class="row trail-detail-image-row">
            <div class="col-6 d-none d-md-block col-m6 masthead-image">
                {% if "placeholder" in post.featured_image.url %}
                <img class="img-fluid map-frame" src="/static/images/placeholder-trail-image.jpg" alt="Image of the Black Mountain">
                {% else %}
                <img class="img-fluid map-frame" src=" {{ post.image_one.url }} " width="100%">
                {% endif %}
            </div>
            <div class="col-6 d-none d-md-block col-m6 masthead-image">
                {% if "placeholder" in post.featured_image.url %}
                <img class="img-fluid map-frame" src="/static/images/placeholder-trail-image.jpg" alt="Image of the Black Mountain">
                {% else %}
                <img class="img-fluid map-frame" src=" {{ post.image_two.url }} " width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Article Detail Section -->
<div class="container">
    <div class="row">
        <div class="col card bg-dark mb-4  mt-3 left  top">
            <div class="card-body bg-dark">
                <p class="card text-white bg-dark mb-3">
                    {{ post.content | safe }}
                </p>
                <div class="row">
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn btn-outline-dark"><i class="fa-solid fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn btn-outline-dark"><i class="fa-regular fa-heart"></i></button>
                                {% endif %}
                            </form>
                                {% else %}
                                    <span class="text-secondary text-light"><i class="fa-regular fa-heart"></i></span>
                                {% endif %}
                            <span class="text-secondary text-light">{{ post.likes.count }} </span>
                        </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                            <strong class="text-secondary text-light">
                                <span><i class="far fa-comments"></i></span>
                                <span>{{ total_comments }}</span>
                            </strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
<!-- Existing Comments Section -->
    <div class="row">
        <div class="col-md-8 card mb-4 bg-dark mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                    <div class="comments" style="padding: 10px; border: 1px solid grey">
                        <p><span class="text-muted font-weight-normal">{{ comment.created_on }}</span><span class="font-weight-bold">{{ comment.name }} wrote:</span></p>
                        {{ comment.body | linebreaks }}
                    </div>
                {% endfor %}
            </div>
        </div>
<!-- Commenting Section -->
        <div class="col-md-4 card mb-4 bg-dark mt-3 ">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Thank you for your comment, it is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg my-buttons mt-3">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}